:root {
    --white: #fff
    --back-button: #2e5a00;
    --back-button-hover: #70c218;
}

* {
    padding: 0;
    margin: 0;
    font-family: helvetica;
    color: #333;
    box-sizing: border-box;
}

#body {
    background-color: #d8d7ff;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    background-color: #fff;
    color: var(--back-button);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:hover {
    color: var(--white);
    background-color: #00c15dc6;
}

button:hover > i {
    color: var(--white);
}

button i {
    font-weight: bold;
    color: var(--back-button);
    pointer-events: none;
}

input, select {
    padding: .25rem .5rem;
}

.hide {
    display: none;
}

.container {
    max-width: 450px;
    margin: 3rem auto 0;
    padding: 2rem;
    border-radius: 20px;
    background-color: #cdffe5c6;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.container header {
    text-align: center;
    padding: 0 1rem 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #00000047;
}

#todo-input {
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#todo-form {
    justify-content: center;
    display: flex;
    align-items: center;
}

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #00000047;
}

#todo-form p, 
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

#toolbar {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #00000047;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    border-right: 1px solid #ddd;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: .3rem;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

#filter {
    display: flex;
    width: 35%;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

#filter-select {
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#filter-select:hover {
    background-color: #f1f1f1;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-right: .3rem;
}

.done {
    background-color: #88be80;
}

.done h3 {
    font-style: italic;
    text-decoration: line-through;
    color: var(--white);
}

